*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: black;
    
    
}

header{
    background-color:#333;
    color: white;
     padding: 10px 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px #ff0f4f;
    position: sticky;
    overflow: hidden;
    
}
img{
    height:40px;
    width: 50px;
  

}
.nav-links{
    list-style: none;
    display: flex;
    gap:1.5rem;
    
    
}
.nav-links a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    margin: 0 10px;
    font-weight: 500;
    padding: 10px ;
}
.nav-links a:hover{
    background-color: #ff0f4f;
    color: white;
    border-radius: 8px;
}

section{
    padding: 4rem 2rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color:#ff0f4f
    
}
section p{
    color: white;
}


.skills-grid{
    display: flex;
    gap: 1rem;
    
}
.skill{
    background-color: #333;
    padding: 1rem;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #ff0f4f;
}
.skill:hover{

    background-color: #ff0f4f;
    color: white;
    border-radius: 8px;
}

.project{
  background: #333;
  padding: 1.5rem;
  margin: 1rem 0;
  border-left: 5px solid #ff0f4f;
  box-shadow: 0px 2px 4px #ff0f4f
}
h3{
    color: white;
  
}

footer {
  text-align: center;
  padding: 1rem;
  background: #4a4e69;
  color: #ff0f4f;
}